<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buffer</title>
  </head>
  <body>
    <main>
      <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="images" multiple="multiple" />
        <input type="text" name="text" placeholder="text" />
        <textarea
          name="ingridient"
          cols="30"
          rows="10"
          placeholder="ingridient"
        ></textarea>
        <textarea
          name="prescribe"
          cols="30"
          rows="10"
          placeholder="prescribe"
        ></textarea>
        <button>Send</button>
      </form>
    </main>
    <section></section>

    <% files.forEach(function(file) { %>
    <div>
      <div>
        <h1><%= file.text %></h1>
        <p><%= file.ingridient %></p>
        <p><%= file.prescribe %></p>
      </div>

      <img
        src="data:image/<%=file.images.contentType%>;base64,
      <%=file.images.data.toString('base64')%>"
        alt="photo"
      />
    </div>
    <% }) %>
  </body>
</html>
